
.profile-photo{
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
}

.text-description{
    font-size: var(--description-font-size);
    text-align: center;
}

.block{
    margin: 0.5%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 50px;
}

.flex-data-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-width: 90%;

}
#stack-block{
    background-color: #0f1f47;
}

.stack-view{
    background-color: #0b1220;
    padding-left:5px;
    padding-right: 5px;
    border-radius: 10%;
}

#last-block{
    padding-bottom: 5%;
    margin-bottom: 0%;
    border-bottom: 0;
}

#text-purple{
    color: blueviolet;
}