
.profile-photo{
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
}

.text-description{
    font-size: var(--description-font-size);
    text-align: center;
}

.block{
    margin: 0.5%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid;
  border-color: #62fb89;
  padding-top: 5px;
  padding-bottom: 50px;
}
#last-block{
    padding-bottom: 5%;
    margin-bottom: 0%;
    border-bottom: 0;
}

#text-purple{
    color: blueviolet;
}